@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding-top: 8px;
  padding-bottom:8px;
  padding-right: 16px;
  padding-left: 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 20px;
}

.left-links, .right-links {
  list-style-type: none;
  display: flex;
  padding:0;
  gap: 16px;
}
a {
  text-decoration: none;
}

.left-links {
  margin-left: 16px;
}
.right-links {
  margin-right: 16px;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  background: #eee;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
}